body{
    /* background: #4d4d52; */
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.navbar {
    padding-top: 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #19228c;
    font-size: 18px;
}

.me-auto {
    margin-left: auto!important;
}

.title{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.linea {
    margin: 0px 20px;
    width: 320px;
    border-top: 6px solid #ffffff;
    position: relative;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.azul {
    border-top: 6px solid #19228c;
}

.horizontal {
    float: none;
    width: 95%;
}

main{
    color: #19228c;
}

.container-main{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 3.3vmax;
    padding-bottom: 3.3vmax;    
}

.container-main .responsive{
    width: 95%;
    height: auto;
    margin-left: 5%;    
}

.texto-presentacion{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

.texto-presentacion p{
   font-size: calc((4 - 1) * 1.2vw + 1rem);
}

.texto-presentacion2{
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    text-align: center;
}

.quienes-somos{
    background: #19228c;
    display: block;
    text-align: center;
    padding: 1%;
    color: #fff
}

article video{
    width: 95%;
    height: auto;
}

.contactos{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap;     */
}

.card-text{
    margin-bottom: 0;
}

.logos-negativo{
    filter: invert(100%);
}

.logos-negativo a{
    margin-left: 2%;
}

.card{
    color: #fff;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    background:#ffffff00;
    border: #ffffff00;
    padding: 1%;
}

.card-img, .card-img-top {
    border-radius: 100%;
}

.episodios{
    background: #fff;
    display: block;
    text-align: center;
    padding: 1%;
    color: #19228c
}

article .texto-presentacion2{
    margin-top: 1%;
}

.panel-episodios{
    margin-top: 1%;
    margin-bottom: 1%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.list-group{
    height:200px; width:100%;
    overflow:hidden; overflow-y:scroll;
}